extends layout

block content
  h1= title

  div.container-fluid
    div.row
      -
        let earphones=results
      each earphones,index in results
        .col-sm-2 
        div.col-sm-2(onclick=`buy(${index})`)
          p Earphones Brand: #{earphones.brand}
          p Size: #{earphones.size}
          p price: $#{earphones.price}
          
  a(href="/") Back to index

  script. 
    function buy(index) {
      alert(`You purchased item ${index}`);
    }

          